


@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  
  .iaeste-logo
{
    transform: scale(0.6);
    margin-left: 2em;
    margin-top:-0.5em;

}
.navbar ul
{
    list-style: none;
    display: flex;
    margin-right:3em;
    margin-top: 0.75em;

}
.navbar ul li a
{
    padding: 0 1em;
    font-weight: 400;
    font-size: 1.25em;
}
.navbar
{   
    color: white;
} 
._Nav
{
  text-decoration: none;
  color: white;
} 
._Nav:hover{
   color: white;
} 
.nav1:after
{
  content: '';
  position: absolute;
  width: 15%;
  transform: scaleX(0);
  height: 2px;
  margin-top: 1.5em;
  margin-left: -5.26em;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav1:hover::after
{
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav2:after{
  content: '';
  position: absolute;
  width: 10%;
  transform: scaleX(0);
  height: 2px;
  margin-top: 1.5em;
  margin-left: -3.28em;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav2:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #0B3D59;
    height: 5em;
    width: 100%;

}
.header-pic{
    height: 5em;
   
}
h3{
  font-size: 20px;
  text-align: center;
  margin-top: 1em;
  font-weight: 700;
}
p{
  margin-top: -1em;
}
h2{
    font-size: 30px;
    text-align: center;
    text-decoration: none;
   
    text-decoration-color: #0B3D59;
    font-family: 'roboto';
   
    margin-top: 50px;
    background: -webkit-linear-gradient( #333,#0d4e74);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.jb{
  margin-top: 4em;
}
  .flip-card {
    background-color: transparent;
    width: 180px;
    height: 180px;
    perspective: 1000px;
    border-radius: 20px;
    border-radius: 7%;
    box-shadow: 2px 2px 8px black;

  }
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .flip-card-inner {

    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    
   
  }
  
  .flip-card-back {
     
     align-items: center; 
    background-color: #041d2e;
    color: white;
    transform: rotateY(180deg);
    border-radius: 7%;
  
    
  }
  .flip-card-back a{
    display: inline-flex;
    width: 45px;
    margin-top: 4em;
    height: 45px;
    justify-content: center;

    color: pink; 
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%;
  }
  .flip-card-back a:hover{
    transform: scale(1.3);
  }
  
  .Senior-Board{
      margin-top: 50px;
      display: flex;
      justify-content: center;

  }
  /* .Junior-Board{
    display: flex;
    flex-direction: row;
   justify-content: center;
  } */
  .posts{
    font-size: 23px;
  }
  .postss{
    font-size: 23px;
    margin-left: 4em;
  }
  .div1,.div2,.div3,.div4,.div5{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2em;
    margin-top: 2em;
  }
  .div4{
    margin-left: 2.5em;
  }
  
.group1,.group2,.group3,.group4{
  display: flex;
  justify-content: space-evenly;
  padding-top: 1em;
}
.group2.Outgoing{
  padding-left: 8em;
}
.four,.six{
  margin-left: 5em;
}
.two, .new{
  margin-left: 6em;
}
.sb{
  padding-bottom: 1.5em;
}
.jb{
  padding-top: 0.5em;
}



.contact_us
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 2em;
}
.contact_us1
{
    margin-right: 1em;
}
.container 
{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 75%;
}
  
iframe 
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 85%;
    border: 2px solid black;
}
.form
{
    margin-left: 1em;
    transform: scale(0.95);
}
.contact_us .form h1
{
    color: black;
    text-align: center;
    margin-bottom: 1em;
}
.contact_us .form h3
{
    font-weight:400;
    font-size:1.2em;
    margin: 1em 0;
}
input
{   display: block;
  margin: 0 auto;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border: none;
    /* background-color: rgb(194, 194, 194); */
    /* margin: 1.5em 0; */
    background-color: transparent;
    border: 2px solid rgb(0, 3, 206);
    outline: none;
    padding: 0 1em;
}
.feedback{
  font-size: 1.5em;
}
.message input
{
    height: 150px;
}
#sf
{
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    background:linear-gradient(rgb(11, 64, 100),rgb(19, 104, 214));
    border: none;
    padding: 1em 4em;
    color: white;
    font-size: 1.15em;
    border-radius: 5px;
    cursor:pointer;
}
#sf:hover
{
    background:linear-gradient(rgb(24, 163, 255),rgb(18, 70, 138));
    transform: translateY(-2px);
}



.ig
{
    transform: scale(0.4);
}
.fb
{
    transform: scale(0.4);
}
.li
{
    transform: scale(0.4);
}
.ig:hover
{
    transform: translate(-2px);
    transform: scale(0.5);
}
.fb:hover
{
    transform: translate(-2px);
    transform: scale(0.5);
}
.li:hover
{
    transform: translate(-2px);
    transform: scale(0.5);
}
.handles
{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    transform: scale(0.8);
    width: 100%;
}
.social-media
{
    display: flex;
    justify-content: center;
    margin-right: 4em;
    border-right: 2px solid black;
    width: 500px;
    height: 100px;
}
.social-media div
{
    margin: 0 0.75em;
}
.contact-details
{
    margin-left: 4em;
    margin-top: -1em;
}
.emaill svg
{
    transform: scale(0.5);
}
.phone svg{
 transform: scale(0.5);
 margin-right: 0.5em;
 margin-left: 0.5em;
}
hr{
  margin-top: 1em;
}
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.area{
    background: #f0f0f9;  
    background: -webkit-linear-gradient(to left, #b58ffb, #4e54c8);  
    width: 100%;
    height:100%;
    
   
}

.circles{
    position: absolute;
    top: 0;
        left: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(11, 61, 89,0.5);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media only screen and (max-width: 1100px) {
 
body {
  font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  .div1,.div2,.div3,.div4,.div5{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
    
  }
  .div4{
    margin-left: -8em;
  }
  .block1{
    margin-top: 4em;
  }
  .three,.four,.five,.six{
    margin-left: -1em;
  }
  .posts{
    font-size: 1.65em;
    margin-bottom: 1em;
  }
  .postss{
    font-size: 1.65em;
    margin-bottom: 1em;
   
  }
  .posts.Media{
   padding-left: 6em;
  }
  .group1.Media{
    margin-left: 8em;
  }
}
@media only screen and (max-width: 800px)
{
  body{
    background-color: #b58ffb ;
    margin: 0;
    padding: 0;
  }
  .iaeste-logo
  {
      transform: scale(0.5);
      margin-left: 2em;
      margin-top:-0.5em;
  
  }
  .navbar ul
{
    list-style: none;
    display: flex;
    margin-right:3em;
    margin-top: 0.75em;

}
.navbar ul li a
{
    padding: 0 1em;
    font-weight: 400;
    font-size: 15px;
}
h2{
  font-size: 26px;
}
.posts{
  font-size: 23px;
}
h3{
  font-size: 20px;
}
.Senior-Board{
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
.two,.new{
  margin-top: 5em;
  margin-left: 0em;
}
  
}

@media only screen and (max-width: 720px){
 body{
   background-color: cadetblue;
 } 
 .iaeste-logo{
   display: none;
 }
 .navbar ul
 {
     list-style: none;
     display: flex;
     
     margin-left: 2.5em;
     margin-top: 0.75em;
 
 }
 .navbar ul li a
 {
     padding: 0 1em;
     font-weight: 400;
     font-size: 15px;
 }
 .nav
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #0B3D59;
    height: 5em;
    width: 100%;
    margin: 0;
    padding: 0;

}
}
